<!doctype html>
<html lang="en">
<head>
  {# Required meta tags #}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {# SEO #}
  <title>{{ seoTitle or title }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}">

  {# Tailwind & Site CSS #}
  <link href="/assets/css/main.css" rel="stylesheet">

  {# Icons, manifest, theme #}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">
</head>
<body class="text-gray-700 antialiased bg-white">

  <header class="gnn-container pt-12 pb-16 bg-gray-100 shadow">
    <h1 class="text-9xl font-black">
      <a href="/">Noul Normal</a>
    </h1>
    <p class="mt-2 text-2xl">Despre pandemie, frică, lockdown, izolare, noul normal. <mark>Doar din surse oficiale şi media oficială.</mark> Informaţii şi citate (aparent ascunse sau nescoase în prim plan) pentru a vedea mai clar întregul, realitatea, distopia.<br><br>"Războiul este pace, libertatea este sclavie, ignoranţa înseamnă putere." (George Orwell)<br> "Pentru ca răul să triumfe, este suficient ca oamenii buni să nu facă nimic." (Edmund Burke)</p>
  </header>

  <div class="mt-16 gnn-container">
    {{ content | safe }}
  </div>

</body>
</html>
