---
layout: base
---

<article class="mb-24">

  <p class="text-gray-400">{{ date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}</p>

  <h1 class="mt-1 text-4xl font-bold text-gray-500">
      {{ title }}
  </h1>

  <main class="mt-12 prose max-w-none">
    {{ content | safe }}
  </main>

</article>
